@media (min-width: 920px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    min-height: 100vh;
    min-width: 100vh;
    color: white;
  }

  .none-view {
    display: none;
  }

  .app-body {
    /* background-image: url("./images/fundo-star-wars.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #img-grafismo {
    width: 60%;
  }

  .container-main {
    margin-top: -25px;
    width: 180vh;
    height: 100vh;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(46, 46, 46, 0.467);
  }

  .container-filters {
    width: 100%;
    height: 40%;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  input {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .container-filters #name-filter {
    width: 400px;
    height: 30px;
  }

  #img-lupa {
    float: inline-end;
    z-index: 1;
    margin-left: -30px;
    margin-bottom: -8px;
  }

  .container-filters #value-filter {
    width: 100px;
    height: 30px;
  }

  .container-select-filter {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  label {
    font-size: 0.8em;
  }

  select,
  button,
  input {
    background-color: transparent;
  }

  select {
    color: white;
    border: none;
    font-size: 1.4em;
    width: 120px;
    height: 30px;
    border-bottom: 1px solid;
  }

  option {
    background-color: rgb(45, 45, 45);
  }

  button {
    width: 90px;
    height: 80px;
    color: rgba(250, 230, 10, 1);
    border: 1px solid rgba(250, 230, 10, 1);
    border-radius: 5px;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.281);
  }

  .radio-label {
    font-size: 1.2em;
  }

  #input-asc,
  #input-desc {
    width: 1.4em;
    height: 1.4em;
    padding-left: 100px;
    margin-bottom: 10px;
  }

  .list-filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .filter-box {
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: rgba(45, 45, 45, 0.91);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .list-filters button {
    width: 200px;
    height: 30px;
  }

  .filter-box button {
    width: 20px;
    height: 20px;
    color: rgb(199, 6, 6);
    border: 1px solid rgb(199, 6, 6);
  }

  .container-table {
    width: 98%;
    height: 65%;
    overflow-y: scroll;
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: rgb(23, 22, 22);
  }

  th {
    padding: 10px;
  }

  tbody {
    background-color: rgb(45, 45, 45);
  }

  tbody td {
    border: none;
    border-bottom: 1px solid white;
  }

  tbody td:nth-child(1) {
    font-weight: 800;
  }

  table th,
  td {
    text-align: center;
  }

  table td {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  table .container-table-films {
    padding-right: 60px;
    padding-left: 60px;
  }
}